/*Main Stylesheet*/

/* Vars */

:root {
    --main-blue-color: #3c31dd;
    --main-red-color: #dd3f31;
    --main-pink-color: #ff0066;
    --main-dark-color: #0f0f10;
    --main-orange-color: #FF851B;
}

/* Styles */

html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

body {
    margin: 0;
    color: white;
    background-color: #202731;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    padding: 100px 20vw;
}

h1 {
    font-weight: 400;
}

ul {
    text-align: left;
}

li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

h1.main-header {
    font-size: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 10px;
}

h2.poem {
    font-size: 1.5rem;
    font-weight: 350;
}

p.topic {
    font-size: 1.5rem;
}

p.modern {
    font-size: 1.2rem;
}

a.modern {
    color: aqua;
}

.blue {
    background-color: var(--main-blue-color);
    padding-bottom: 20px;
}

.pink {
    background-color: var(--main-pink-color);
    padding-left: 15px;
    padding-right: 15px;
}

.red {
    background-color: var(--main-red-color);
    min-height: 20px;
    padding: 10px 20vw;
}

.dark {
    background-color: var(--main-dark-color);
    min-height: 100px;
    padding-bottom: 20px;
    padding-top: 120px;
}

.orange {
    background-color: var(--main-orange-color);
}

p.copyright {
    text-align: center;
    font-size: 1rem;
}

/* Responsive Table */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
    height: auto;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
}

.column {
    float: left;
    width: 50%;
    padding: 0px;
    min-height: 100px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 800px) {
    .column {
        width: 100%;
    }
}

/* SVG Dividers */

.custom-shape-divider-top-1632109584 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1632109584 svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 191px;
}

.custom-shape-divider-top-1632109584 .shape-fill {
    fill: var(--main-dark-color);
}

.custom-shape-divider-top-1632109585 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1632109585 svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 191px;
}

.custom-shape-divider-top-1632109585 .shape-fill {
    fill: var(--main-blue-color);
}

.custom-shape-divider-top-1632109586 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1632109586 svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 191px;
}

.custom-shape-divider-top-1632109586 .shape-fill {
    fill: var(--main-pink-color);
}